.text-like-button {
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    text-align: left;
}

.participants{
    font-weight: bold;
    text-decoration: none;
    color: gray;
}